<H1> PAGINA PERSONAL</H1>

@model Personal


@Html.LabelFor(c=>c.Nombre, "Nombre: ") @Model.Nombre
@Html.LabelFor(m=>m.Apellido, "Apellido: ") @Model.Apellido
@Html.LabelFor(m=>m.Edad, "Edad: ") @Model.Edad
@Html.LabelFor(c=>c.CorreoElectronico, "CorreoElectronico: ") @Model.CorreoElectronico
@Html.LabelFor(m=>m.Telefono, "Telefono: ") @Model.Telefono
@Html.LabelFor(m=>m.Direccion, "Direccion: ") @Model.Direccion
